/* Style for the homepage container */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* Full screen height */
    text-align: center;
    background-image: url('Data/NASM-NASM-9A14471.jpg'); 
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;  
}

h1{
    font-family: 'Iowan Old Style', serif;
    font-size: 4rem;
    color: #ffffff; 
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7); 
    padding-top: 100px;
}

h2{
    font-family: 'Iowan Old Style', serif;
    font-size: 3rem;
    color: #ffffff; 
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7); 
    padding-top: 30px;
    margin-bottom: 20px;
}

/* currently no paragraph text */
/* p {
    font-size: 1.2rem;
    color: #f0f0f0; 
    margin-bottom: 30px;
    max-width: 600px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
} */


/* Ensure canvas is properly layered below the description box */
canvas {
    display: block;
    margin: 0 auto;  /* Center the canvas horizontally */
    margin-top: 40px;
    z-index: 1;  /* Make sure the canvas stays behind other elements if necessary */
    max-width: 100%; /* Ensure the canvas never exceeds the window width */
}

/* Flexbox container for buttons */
#button-container {
    position: absolute;
    top: 1100px;   /* Adjust to align the container vertically */
    left: 50%;  /* Center the button container horizontally */
    transform: translateX(-50%); /* Truly center the container */
    display: flex;
    justify-content: center;  /* Center the buttons inside the container */
    gap: 25px;  /* Space between buttons */
    z-index: 5;  /* Ensure buttons appear above the canvas */
}

/* Button styles */
button {
    padding: 5px 10px;
    font-family: 'Iowan Old Style', serif;
    font-size: 25px; 
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

/* Description box */
.description-box {
    position: absolute;
    top: 7220px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
    /* background-color: rgba(226, 219, 201, 0.9); */
    border: 3px solid rgb(200,0,0);
    z-index: 10;
    display: none;  /* Ensure the description box is hidden by default */
}

/* Description text style */
.description-box p {
    vertical-align: text-top;
    font-size: 25px; 
    font-family: 'Iowan Old Style', serif; 
    color: rgb(0, 0, 0); 
    line-height: 1.5;
}

.description-box img {
    float: left;
    margin-right: 10px;
    width: 400px;
}

