
#main-title {
    position: absolute;
    width: 90%;
    left: 5%; 
    font-family: 'Iowan Old Style', serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    color: #000000;

}

/* Subtitle */
#sub-title {
    position: absolute;
    width: 90%;
    top: 60px; 
    left: 5%;  

    font-family: 'Iowan Old Style', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #000000;

}


/* Ensure canvas is properly layered below the description box */
canvas {
    display: block;
    margin: 0 auto;  /* Center the canvas horizontally */
    margin-top: 40px;
    z-index: 1;  /* Make sure the canvas stays behind other elements if necessary */
    max-width: 100%; /* Ensure the canvas never exceeds the window width */
}

/* Flexbox container for buttons */
#button-container {
    position: absolute;
    top: 200px;   /* Adjust to align the container vertically */
    left: 50%;  /* Center the button container horizontally */
    transform: translateX(-50%); /* Truly center the container */
    display: flex;
    justify-content: center;  /* Center the buttons inside the container */
    gap: 25px;  /* Space between buttons */
    z-index: 5;  /* Ensure buttons appear above the canvas */
}

/* Button styles */
button {
    padding: 5px 10px;
    font-family: 'Iowan Old Style', serif;
    font-size: 20px; 
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

/* Description box */
.description-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px;
    background-color: rgba(226, 219, 201, 0.9);
    border: 3px solid #000;
    z-index: 10;
    display: none;  /* Ensure the description box is hidden by default */
}

/* Description text style */
.description-box p {
    font-size: 20px; 
    font-family: 'Iowan Old Style', serif; 
    color: #333; 
    line-height: 1.5;
}

.description-box img {
    float: left;
    margin-right: 10px;
    width: 400px;
}

