/* Style for the homepage container */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* Full screen height */
    text-align: center;
    background-image: url('Data/NASM-NASM-9A14471.jpg'); 
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;  
}

h1{
    font-family: 'Iowan Old Style', serif;
    font-size: 4rem;
    color: #ffffff; 
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7); 
    margin-bottom: 10px;
}

h2{
    font-family: 'Iowan Old Style', serif;
    font-size: 3rem;
    color: #ffffff; 
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7); 
    margin-bottom: 20px;
}

/* currently no paragraph text */
/* p {
    font-size: 1.2rem;
    color: #f0f0f0; 
    margin-bottom: 30px;
    max-width: 600px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
} */

/* Style for the enter button */
.enter-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    background-color:rgba(226, 219, 201);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.enter-button:hover {
    background-color: black;
    color: rgba(226, 219, 201);
}
